body{
    background-color: rgba(0, 0, 0, .5);
}

#calculator{
    width: 250px;
    padding: 10px;
    margin: 0 auto;
    /* margin-top: 80px; */
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .5);
}
#calculator input{
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    border: 0px;
}
.col-3{
    padding: 5px;
    margin: 0px 0px 5px 0px;
}
.col{
    padding: 5px;
    margin: 0px 0px 15px 0px;
}

@media(max-width: 576px){
    h1{
        font-size: 1.5rem;
        margin-top: 50px;
    }
}
